.memory-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    border-radius: 1rem; /* mais arredondado */
}

.memory-card.show {
    opacity: 1;
}

.memory-card:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 6px 15px -4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.memory-photo {
    border-radius: 1rem;
}

.autor-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: auto;
}

.dot-thomas {
    background-color: var(--azul); /* azul */
}

.dot-gabriela {
    background-color: var(--rosa); /* rosa */
}